$background: #FFFFFF;
$textColor: #18191F;
$purple: #8C30F5;
$headerHeight: 72px;
$fontFamily: Manrope, serif;

$first-bp: 1480px;
$second-bp: 1335px;
$third-bp: 1265px;
$fourth-bp: 1165px;
$fifth-bp: 1125px;

$tablet-bp: 1055px;
$tablet-bp2: 980px;
$tablet-bp3: 770px;
$tablet-bp4: 710px;

$mobile-bp: 635px;
$mobile-bp2: 511px;
$mobile-bp3: 411px;
$mobile-bp4: 355px;
