.page {
  display: flex;
  position: static;
  overflow: hidden;
  width: 100%;
  height: 100%;
  background-color: $background;
  background-image: url("../../images/Background2.png");
  background-repeat: no-repeat;
  background-size: cover;
}