<footer class="footer">
    <div class="footer_left">
        <img class="footer_logo" src="../assets/images/Logo_footer.svg" alt="logo_footer">
        <div class="footer_links">

            <ul class="footer_links1">
                <li class="footer_links_item">
                    <a href="#">Download Now</a>
                </li>
                <li class="footer_links_item">
                    <a href="#">License</a>
                </li>
            </ul>

            <ul class="footer_links2">
                <li class="footer_links_item">
                    <a href="#">About</a>
                </li>
                <li class="footer_links_item">
                    <a href="#">Features</a>
                </li>
                <li class="footer_links_item">
                    <a href="#">Pricing</a>
                </li>
                <li class="footer_links_item">
                    <a href="#">Careers</a>
                </li>
                <li class="footer_links_item">
                    <a href="#">Help</a>
                </li>
                <li class="footer_links_item">
                    <a href="#">Privacy Policy</a>
                </li>
            </ul>
        </div>

        <div class="footer_text">
            <p>© 2020 Landify UI Kit. All rights reserved</p>
        </div>
    </div>

    <div class="footer_right">
        <p class="footer_subtitle2">Get the App</p>
        <div class="footer_download_buttons">
            <a href="https://play.google.com/">
                <button><img class="google_play_button" src="/assets/images/GooglePlayBadge.svg" alt="Google Play"></button>
            </a>
            <a href="https://apps.apple.com/">
                <button><img class="app_store_button" src="/assets/images/AppStoreBadge.svg" alt="App Store"></button>
            </a>
        </div>
    </div>
</footer>
