<header class="header">
    <div class="header_left">
        <nav class="nav">
            <ul class="nav_list">
                <li class="nav_item">
                    <img class="logo" src="../assets/images/logo.png" alt="logo.png">
                    <img class="logo2" src="../assets/images/Logo_footer.svg" alt="Logo">
                </li>
                <li class="nav_item">
                    <a href="#" class="nav_link">About</a>
                </li>
                <li class="nav_item">
                    <a href="#" class="nav_link">Products</a>
                </li>
                <li class="nav_item">
                    <a href="#" class="nav_link">Pricing</a>
                </li>
                <li class="nav_item">
                    <a href="#" class="nav_link">Blog</a>
                </li>
                <li class="nav_item">
                    <a href="#" class="nav_link">Jobs</a>
                </li>
                <li class="nav_item">
                    <a class="nav_link has-subnav" href="#">More</a>
                    <ul class="subNav">
                        <li>
                            <a class="subNav_link" href="#">Features</a>
                        </li>
                        <li>
                            <a class="subNav_link" href="#">License</a>
                        </li>
                        <li>
                            <a class="subNav_link" href="#">Privacy Policy</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </nav>
    </div>

    <div class="header_right">
        <nav class="nav">
            <ul class="nav_list header_download_buttons">
                <li>
                    <a href="https://play.google.com/">
                        <button><img class="google_play_button" src="../assets/images/GooglePlayBadge.svg" alt="Google Play"></button>
                    </a>
                </li>
                <li>
                    <a href="https://apps.apple.com/">
                        <button><img class="app_store_button" src="../assets/images/AppStoreBadge.svg" alt="App Store"></button>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</header>
